header {
    background-color: #4EBFE9;
    color: #383D58;
}
.cabeçalho-imagem
*{margin: 0%;*{margin: 0%;
    padding: 0%;}
    width: 10%;
    
    
    body{
    font-family: "Poppins", sans-serif;
    }
    
    .cabeçalho{
    background-color: rgba(255, 17, 0, 0.767) ;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0; }
    
    .cabeçalho-imagem
    {width: 5%;}
    
    .cabeçalho-lista-item{
    display: inline-block;
    margin: 0% 16px;
    font-size: 24px; }
    
    .Futebol-imagem{
    width: 10%;
    }
    
    .Futebol{
    background: linear-gradient(180deg, #383D58 0%, #4EBFE9 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    }
    .Futebol-div-conteudo{
    width: 35%;
    
    }
    .Futebol-titulo{
    padding: 24px 0;
    }
